body {
    font-family: 'Roboto';font-size: 14px;padding: 1rem;overflow: auto;max-width:720px;
}
p{margin-top:3rem;}.logo{margin:auto;display:block;padding: 1rem;}.email-text{padding: 1rem;}.debbie{padding-bottom: 2rem;}
.group-45{display:inline;max-height: 46px;}.sign{display:inline;margin-left: 1.5rem;max-height: 33px;}
.asn-logo{margin:auto;display:block;max-height: 142px;}.line{display:block;max-width:720px;}